## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd
#https://colab.research.google.com/drive/1Rj8qekfXqOyf-rlBa-FcATpfTBBRDG-v

In [2]:
# 設定 data_path
dir_data = '/users/mac/downloads/home-credit-default-risk/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /users/mac/downloads/home-credit-default-risk/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [44]:
print("row數:",len(app_train.index))
print("column數:",len(app_train.columns))
print(app_train.shape)
print(app_train.size)

row數: 307511
column數: 122
(307511, 122)
37516342

In [16]:
app_train.axes

[RangeIndex(start=0, stop=307511, step=1),
 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
        'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
        'AMT_CREDIT', 'AMT_ANNUITY',
        ...
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
        'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object', length=122)]

#### 列出所有欄位

In [17]:
ColumnName=[i for i in app_train.columns]
print(ColumnName)

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [45]:
app_train.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [48]:
app_train.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

#### 截取部分資料

In [18]:
app_train.loc[0:7]
#row0~row7
#[rows,columns]
#[0:7,:]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
app_train.iloc[[0,3,9],[3,7]]
#row0,3,9 and column3, 7

  CODE_GENDER  AMT_INCOME_TOTAL
0           M          202500.0
3           F          135000.0
9           M          135000.0

In [41]:
app_train["TARGET"]==1

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26         True
27        False
28        False
29        False
          ...
307481     True
307482    False
307483    False
307484    False
307485    False
307486    False
307487    False
307488    False
307489     True
307490    False
307491    False
307492    False
307493    False
307494    False
307495    False
307496    False
307497    False
307498    False
307499    False
307500    False
307501    False
307502    False
307503    False
307504    False
307505    False
307506    False
307507    False
307508    False
307509     True
307510    False
Name: TARGET, Length: 307511, dtype: bool

In [43]:
app_train[app_train["TARGET"]==1]
#rows with TARGET==1

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
81,100096,1,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
94,100112,1,Cash loans,M,Y,Y,0,315000.0,953460.0,64107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
138,100160,1,Cash loans,M,N,Y,0,292500.0,675000.0,36747.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
154,100181,1,Cash loans,F,N,Y,0,157500.0,245619.0,12667.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
163,100192,1,Cash loans,F,N,N,0,111915.0,225000.0,21037.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
211,100246,1,Cash loans,F,N,Y,0,135000.0,495216.0,26995.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
235,100273,1,Cash loans,F,N,Y,0,157500.0,1710000.0,66262.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
242,100282,1,Revolving loans,F,Y,Y,0,73341.0,135000.0,6750.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246,100286,1,Cash loans,M,Y,Y,1,121500.0,263686.5,17298.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
255,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
260,100300,1,Cash loans,M,N,N,0,63000.0,426645.0,22468.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
261,100301,1,Cash loans,M,N,Y,1,112500.0,571486.5,31131.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,2.0
283,100326,1,Cash loans,M,Y,Y,0,36000.0,284400.0,10849.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
291,100336,1,Cash loans,F,Y,Y,0,157500.0,497520.0,28692.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
344,100396,1,Cash loans,M,N,N,0,112500.0,417024.0,25330.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
348,100401,1,Cash loans,F,N,Y,0,202500.0,343683.0,16663.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
368,100424,1,Cash loans,M,N,Y,0,112500.0,117162.0,12433.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
381,100439,1,Cash loans,M,N,Y,0,81000.0,312840.0,22891.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
389,100452,1,Cash loans,M,N,Y,1,171000.0,1009566.0,36391.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
408,100472,1,Cash loans,M,Y,Y,1,135000.0,545040.0,26509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
413,100477,1,Cash loans,M,Y,Y,1,112500.0,284400.0,22599.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
419,100485,1,Revolving loans,M,Y,N,1,270000.0,810000.0,40500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
424,100490,1,Cash loans,M,N,N,0,135000.0,755190.0,38686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307123,455819,1,Cash loans,M,Y,Y,1,225000.0,1149628.5,48838.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,2.0
307126,455822,1,Cash loans,M,Y,N,2,112500.0,450000.0,30573.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307133,455830,1,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307162,455865,1,Cash loans,M,N,N,0,180000.0,450000.0,30573.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
307177,455880,1,Cash loans,M,N,N,0,135000.0,260640.0,28197.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307183,455886,1,Cash loans,F,N,Y,0,180000.0,328405.5,26077.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307248,455964,1,Cash loans,F,N,Y,0,112500.0,450000.0,27324.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,2.0
307256,455973,1,Cash loans,F,N,Y,0,58500.0,183384.0,14485.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307266,455983,1,Cash loans,M,Y,N,0,189000.0,604413.0,25537.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307268,455985,1,Cash loans,M,N,N,0,135000.0,355536.0,19417.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307283,456000,1,Cash loans,M,Y,Y,0,130500.0,306306.0,13108.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307285,456002,1,Cash loans,F,N,Y,0,76500.0,284400.0,13963.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
307288,456005,1,Cash loans,F,N,Y,0,90000.0,601470.0,30838.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307310,456034,1,Cash loans,M,N,Y,0,90000.0,490536.0,23989.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307323,456047,1,Cash loans,F,N,Y,0,58500.0,448056.0,17019.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307328,456052,1,Cash loans,M,Y,N,1,135000.0,316125.0,15372.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307363,456088,1,Cash loans,F,Y,Y,0,29250.0,663093.0,21519.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307377,456102,1,Cash loans,M,N,Y,0,67500.0,313438.5,20943.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307383,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307386,456112,1,Cash loans,F,N,Y,0,135000.0,221832.0,17653.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307410,456143,1,Cash loans,F,N,Y,0,85500.0,180000.0,8059.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307433,456171,1,Cash loans,M,N,Y,0,50400.0,113760.0,7731.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307438,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307446,456184,1,Cash loans,M,N,N,0,270000.0,900000.0,40671.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307475,456215,1,Cash loans,F,N,N,1,144000.0,1303200.0,46809.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
app_train[["TARGET","AMT_INCOME_TOTAL"]]
#all rows and column TARGET and AMT_INCOME_TOTAL

        TARGET  AMT_INCOME_TOTAL
0            1        202500.000
1            0        270000.000
2            0         67500.000
3            0        135000.000
4            0        121500.000
5            0         99000.000
6            0        171000.000
7            0        360000.000
8            0        112500.000
9            0        135000.000
10           0        112500.000
11           0         38419.155
12           0         67500.000
13           0        225000.000
14           0        189000.000
15           0        157500.000
16           0        108000.000
17           0         81000.000
18           0        112500.000
19           0         90000.000
20           0        135000.000
21           0        202500.000
22           0        450000.000
23           0         83250.000
24           0        135000.000
25           0         90000.000
26           1        112500.000
27           0        112500.000
28           0        270000.000
29           0         90000.000
...        ...               ...
307481       1        225000.000
307482       0        225000.000
307483       0         99000.000
307484       0        540000.000
307485       0        270000.000
307486       0        292500.000
307487       0        117000.000
307488       0        157500.000
307489       1        225000.000
307490       0         81000.000
307491       0         90000.000
307492       0        585000.000
307493       0        135000.000
307494       0        270000.000
307495       0        180000.000
307496       0        360000.000
307497       0        180000.000
307498       0        198000.000
307499       0         81000.000
307500       0        261000.000
307501       0         81000.000
307502       0         94500.000
307503       0        112500.000
307504       0        153000.000
307505       0        112500.000
307506       0        157500.000
307507       0         72000.000
307508       0        153000.000
307509       1        171000.000
307510       0        157500.000

[307511 rows x 2 columns]

In [50]:
app_train.iloc[:,0:3]

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0           100002       1         Cash loans
1           100003       0         Cash loans
2           100004       0    Revolving loans
3           100006       0         Cash loans
4           100007       0         Cash loans
5           100008       0         Cash loans
6           100009       0         Cash loans
7           100010       0         Cash loans
8           100011       0         Cash loans
9           100012       0    Revolving loans
10          100014       0         Cash loans
11          100015       0         Cash loans
12          100016       0         Cash loans
13          100017       0         Cash loans
14          100018       0         Cash loans
15          100019       0         Cash loans
16          100020       0         Cash loans
17          100021       0    Revolving loans
18          100022       0    Revolving loans
19          100023       0         Cash loans
20          100024       0    Revolving loans
21          100025       0         Cash loans
22          100026       0         Cash loans
23          100027       0         Cash loans
24          100029       0         Cash loans
25          100030       0         Cash loans
26          100031       1         Cash loans
27          100032       0         Cash loans
28          100033       0         Cash loans
29          100034       0    Revolving loans
...            ...     ...                ...
307481      456225       1         Cash loans
307482      456226       0         Cash loans
307483      456227       0         Cash loans
307484      456228       0         Cash loans
307485      456229       0    Revolving loans
307486      456230       0         Cash loans
307487      456231       0         Cash loans
307488      456232       0         Cash loans
307489      456233       1         Cash loans
307490      456234       0         Cash loans
307491      456235       0         Cash loans
307492      456236       0         Cash loans
307493      456237       0         Cash loans
307494      456238       0         Cash loans
307495      456239       0         Cash loans
307496      456240       0    Revolving loans
307497      456241       0         Cash loans
307498      456242       0         Cash loans
307499      456243       0         Cash loans
307500      456244       0         Cash loans
307501      456245       0         Cash loans
307502      456246       0         Cash loans
307503      456247       0         Cash loans
307504      456248       0         Cash loans
307505      456249       0         Cash loans
307506      456251       0         Cash loans
307507      456252       0         Cash loans
307508      456253       0         Cash loans
307509      456254       1         Cash loans
307510      456255       0         Cash loans

[307511 rows x 3 columns]

In [52]:
app_train.iloc[0:3,3:6]

  CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
0           M            N               Y
1           F            N               N
2           M            Y               Y

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子